HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# discovery-server specific exclusions
discovery-server/target/
discovery-server/!.mvn/wrapper/maven-wrapper.jar
discovery-server/!**/src/main/**/target/
discovery-server/!**/src/test/**/target/

# STS (Spring Tool Suite)
discovery-server/.apt_generated
discovery-server/.classpath
discovery-server/.factorypath
discovery-server/.project
discovery-server/.settings
discovery-server/.springBeans
discovery-server/.sts4-cache

# IntelliJ IDEA
discovery-server/.idea
discovery-server/*.iws
discovery-server/*.iml
discovery-server/*.ipr

# NetBeans
discovery-server//nbproject/private/
discovery-server//nbbuild/
discovery-server//dist/
discovery-server//nbdist/
discovery-server//.nb-gradle/
discovery-server/build/
discovery-server/!**/src/main/**/build/
discovery-server/!**/src/test/**/build/

# VS Code
discovery-server/.vscode/


